* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    min-height: 100vh;
}

h1 {
    margin-bottom: 12px;
    text-align: center;
}

form {
    width: 100%;
    max-width: 350px;
}

fieldset {
    border: none;
    margin-bottom: 12px;
}

label {
    display: block;
    margin-bottom: 6px;
}

input {
    width: 100%;
    height: 40px;
    padding: 12px;
    border: 1px solid rgba(128, 128, 128, 0.29);
    border-radius: 6px;
    font-size: 16px;
}

img{
    width: 100%;
    height: 100%;
}

section {
    width: 100%;
    max-width: 350px;
    padding: 12px;
    height: 100px;
    border: 1px solid rgba(128, 128, 128, 0.29);
    border-radius: 12px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
}

article {
    margin: 18px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

button {
    border-radius: 6px;
    border: 1px solid rgba(128, 128, 128, 0.29);
    text-align: center;
    color: black;
}

span {
    font-weight: 600;
}

.img-container {
    max-width: 500px;
}

.number_of_keys {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap:12px ;
}

.number_modifier {
    width: 30px;
    height: 100%;
    font-size: px;
    font-size: 18px;
}
button:hover,
button:active,
button:focus
{
    background-color: rgba(128, 128, 128, 0.29);
    cursor: pointer;
}

#pay_button {
    height: 40px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

#keys {
    width: 50px;
    text-align: center;
    height: 30px;
}
.keys_button {
    height:30px;
}

.error_message {
    margin-top: 12px;
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media screen and (max-width:425px) {
    body {
        align-items: center;
        justify-content: center;
    }

    .img-container {
        width: 100%;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 18px;
    }
}